@use "variables";
header{
    background-color: rgb(45, 137, 241);
    .header-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .Logo{
            width: 15vw;
            background-color: variables.$variable1;
            min-width: 100px;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;
        }
        .Search-Bar{
            flex-grow: 1;
            border-radius: 30px;
            background-color: antiquewhite;
            text-align: end;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        nav ul {
            list-style-type: none; /* Elimina los puntos de la lista */
            margin: 0;
            padding: 0;
            .enlace-menu{
                color: antiquewhite;
                text-decoration: none;
                display: flex;
                font-size: 20px;
                margin-left: 5px;
                margin-right: 5px;
                white-space: nowrap;
                @include variables.mobile{
                    padding-bottom: 10px;
                }
                @include variables.tablet{
                    padding-bottom: 20px;
                    padding-top: 10px;
                }
            }
            .enlace-menu:visited {
                color: antiquewhite;
            }
        }
    }
}