@use "variables";
.About-Us-Cont{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    font-size: 25px;
    @include variables.mobile{
        grid-template-columns: 1fr;
        text-align: center;
        iframe{
            width: 80vw;
            height: auto;
        }
    }
    @include variables.tablet{
        grid-template-columns: 1fr;
        text-align: center;
        iframe{
            width: 80vw;
            height: auto;
        }
    }
    .Store-Img{
        height: 400px;
        width: 450px;
        @include variables.mobile{
            width: 100%;
            height: auto;
            max-width: 100%;
        }
    }
}