@charset "UTF-8";
@font-face {
  font-family: Onest;
  src: url(../font/Onest-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Onest;
}

main {
  flex: 1;
}

.wrapper {
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(45, 137, 241);
}
header .header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .header-cont .Logo {
  width: 15vw;
  background-color: rgb(45, 137, 241);
  min-width: 100px;
  justify-content: center;
}
header .header-cont .Search-Bar {
  flex-grow: 1;
  border-radius: 30px;
  background-color: antiquewhite;
  text-align: end;
  margin-top: 20px;
  margin-bottom: 20px;
}
header .header-cont nav ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
}
header .header-cont nav ul .enlace-menu {
  color: antiquewhite;
  text-decoration: none;
  display: flex;
}
header .header-cont nav ul .enlace-menu:visited {
  color: antiquewhite;
}

footer {
  background-color: rgb(45, 137, 241);
  font-family: Onest;
  color: antiquewhite;
}
footer .footer-container {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 25px;
}
footer .footer-container .rrss {
  height: 50px;
  width: 50px;
  margin: 20px;
}
footer .footer-container .rrss:hover {
  animation: customWobble 1s;
  animation-fill-mode: both;
}

@keyframes customWobble {
  0%, 100% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
}
main .carousel-div {
  display: flex;
}
main .Ofertas {
  padding-top: 20px;
  padding-left: 15vw;
  padding-bottom: 20px;
  align-items: center;
}
main .Store-Item-Grid {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  gap: 5vw;
  flex-direction: rm-col;
}

.About-Us-Cont {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
  font-size: 25px;
}
@media (max-width: 768px) {
  .About-Us-Cont {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .About-Us-Cont iframe {
    width: 80vw;
    height: auto;
  }
}
.About-Us-Cont .Store-Img {
  height: 400px;
  width: 450px;
}
@media (max-width: 768px) {
  .About-Us-Cont .Store-Img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}

.Contacto-Cont {
  margin: 40px;
  outline: 2px solid grey; /* marca el borde del div, fuera de los márgenes */
  padding-left: 30vw;
  padding-right: 30vw;
  align-self: center;
}
@media (max-width: 768px) {
  .Contacto-Cont {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}
.Contacto-Cont .Formulario-Cont {
  font-size: 25px;
  text-align: end;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
}
.Contacto-Cont .Formulario-Cont label {
  padding-right: 20px;
}
.Contacto-Cont .Formulario-Cont input {
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .Contacto-Cont .Formulario-Cont {
    grid-template-columns: 1fr;
    text-align: start;
    row-gap: 10px;
  }
  .Contacto-Cont .Formulario-Cont label {
    padding-right: 0;
  }
}
.Contacto-Cont .env-btn {
  margin: 10px;
}

.catalog-Section {
  display: flex;
  justify-content: center;
}
.catalog-Section .accordion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 95vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.catalog-Section .accordion .accordion-button {
  width: 95vw;
}
.catalog-Section .accordion .accordion-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.catalog-Section .Store-Item-Grid {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  gap: 5vw;
  flex-direction: rm-col;
}

.Galeria-Grid {
  display: grid;
  grid-template-areas: "a a b b" "a a c d";
  padding-left: 10px;
  padding-right: 10px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  .Galeria-Grid {
    grid-template-areas: "a" "b" "c" "d";
    grid-template-columns: 1fr;
  }
}
.Galeria-Grid .item {
  height: 75%;
  width: 75%;
}
.Galeria-Grid .a {
  grid-area: a;
}
.Galeria-Grid .b {
  grid-area: b;
}
.Galeria-Grid .c {
  grid-area: c;
}
.Galeria-Grid .d {
  grid-area: d;
}
.Galeria-Grid .bigger:hover {
  animation: bigger 2s ease;
  animation-fill-mode: forwards;
}

@keyframes bigger {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}

/*# sourceMappingURL=styles.css.map */
